<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">${hibernate.dialect}</property>
		<property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>
		<mapping class="fr.s2re.stock.entity.Produit" />
	</session-factory>
	
</hibernate-configuration>